.idea/
*.iml
app/*.iml
app/*.iml

app/target/
browser/target/

browser/*.iml
browser/browser.iml

core/*.iml
core/target/

demo/*.iml
demo/target/

social/*.iml
social/target/

oauth/*.iml
oauth/target/

session/target/
session/*.iml


