<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@1.11.1/dist/jquery.min.js"></script>
    <style>
        .rightValidate {
            width: 350px;
            margin: 0px auto;
            position: relative;
            line-height: 33px;
            height: 33px;
            text-align: center;
            z-index: 99;
        }

        .v_rightBtn {
            position: absolute;
            left: 0;
            top: 0;
            height: 33px;
            width: 40px;
            background: #ddd;
            cursor: pointer;
        }
        .imgBtn{
            width:50px;
            height: 50px;
            position: absolute;
            left: 0;
            display: none;
        }
        .imgBtn img{
            opacity: 0;
            filter: none;
        }
        .imgBg{
            position: relative;
            width: 350px;
            height: 0;
            box-shadow: 0px 4px 8px #3C5476;
        }

        .hkinnerWrap{
            border: 1px solid #eee;
        }
        .green{
            border-color:#34C6C2 !important;
        }
        .green .v_rightBtn{
            background: #34C6C2;
            color: #fff;
        }
        .red{
            border-color:red !important;
        }
        .red .v_rightBtn{
            background: red;
            color: #fff;
        }
        .refresh{
            position: absolute;
            width: 30px;
            height: 30px;
            right: 0;
            top: 0;
            font-size: 12px;
            color: #fff;
            text-shadow: 0px 0px 9px #333;
            cursor: pointer;
            display: none;
        }
        .notSel{
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-touch-callout: none;
        }
        #sent_sms_btn{
            background-color: #efefef
        }
    </style>
</head>
<body>
<h2>注册页面</h2>
<h3>用户名密码注册</h3>
<h5>滑块验证码支持防重复提交</h5>
<!-- 通过 th:action 的方式支持 csrf 或者 添加隐藏域<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
<form id="sli-form" th:action="@{/user/signUp/110110}" method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username" value="admin" ><p style="color: #ff0000"
                                                                     id="error-name-sli"></p></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password" value="admin"></td>
        </tr>
        <tr>
            <td>滑块验证码：</td>
            <td>
                <input type="hidden" name="sliderCode">
                <div class="comImageValidate rightValidate">
                    <div class="hkinnerWrap" style="height: 33px;position: relative">
                        <span  class="v_rightBtn " th:data-uri="@{/slider/check}"><em class="notSel">→</em></span>
                        <span class="huakuai"  style="font-size: 12px;line-height: 33px;color: #A9A9A9;">向右滑动滑块填充拼图</span>
                        <input type = "hidden" name="sliderToken"/>
                    </div>
                    <span style="color: #ff0000" id="error-code-sli"></span>
                    <div class="imgBg">
                        <div class="imgBtn">
                            <img />
                        </div>
                        <span class="refresh" id="slider-refresh" th:data-uri="@{/code/slider}">刷新</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td ><button id="btn-reg-sli" type="button">多租户注册ajax</button></td>
        </tr>
    </table>
</form>
<br>
<h3>手机注册</h3>
<form id="mobile-form" th:action="@{/authentication/mobile/110110}" method="post">
    <table>
        <tr>
            <td>手机号码：</td>
            <td>
                <input type="tel" name="mobile" value="13345678980"><button type="button" id="sent_sms_btn">发送验证码</button>
                <p style="color: #ff0000" id="error-name-mobile"></p>
                <a th:href="@{/code/sms}" id="sms_uri" hidden="hidden" />
            </td>
        </tr>
        <tr>
            <td>手机验证码：</td>
            <td>
                <input type="text" name="smsCode">
            </td>
        </tr>
        <tr>
            <td ><input type="checkbox" name="rememberMe" checked="true">记住我</input></td>
            <td><p style="color: #ff0000" id="error-code-mobile"></p></td>
        </tr>
        <tr>
            <td ><button id="btn-mobile" type="button">多租户注册ajax</button></td>
        </tr>
    </table>
</form>
<br><br>
<h3>社交登录与注册</h3>
<a th:href="@{/auth2/authorization/110110/gitee}">gitee多租户注册</a>

<div id="basePath" th:basePath="@{/}" style="display: none"/>
</body>
<script>
    var basePath = $("#basePath").attr("basePath");
    $.fn.serializeObject = function()
    {
        let o = {};
        let a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }

    $("#sent_sms_btn").click(function () {
        let uri = $("#sms_uri").attr("href");
        console.log(document.getElementById("sent_sms_btn").parentElement.getElementsByTagName("input")[0]);
        let mobile =
            document.getElementById("sent_sms_btn").parentElement.getElementsByTagName("input")[0].value;
        console.log(mobile);
        uri = uri + "?mobile=" + mobile;
        console.log(uri);
        $.ajax({
            url: uri,
            type: "GET",
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            success: function (data) {
                console.log("==========发生短信验证码成功============")
                // ...
                console.log(data)
                $("#error-name-mobile").text("")
                $("#error-code-mobile").text("")
                let expireIn = data.data
                $("#sent_sms_btn:button:not(:disabled)").attr("di", "di").attr("disabled", true).css("background-color", "#c2c2c2");
                let interval = setInterval(function () {
                    $("#sent_sms_btn").text("剩余 " + (expireIn--) + " 秒")
                    if (expireIn < 0) {
                        $("#sent_sms_btn").text("发送验证码")
                        $("#sent_sms_btn:button[di=di]").attr("disabled", false).removeAttr("di").css("background-color", "#efefef");
                        window.clearInterval(interval);
                    }
                }, 1000);

            },
            error: function (data) {
                console.log("==========发送短信验证码失败============")
                console.log(data)
                $("#error-name-mobile").text("")
                $("#error-code-mobile").text("")
                data = data.responseJSON
                if (undefined !== data) {
                    console.log(data);
                    // 错误代码看ErrorCodeEnum
                    if (data.code >= 900 && data.code < 1000) {
                        $("#error-name-mobile").text(data.msg)
                    } else if (data.code >= 600 && data.code < 700) {
                        $("#error-code-mobile").text(data.msg)
                    }
                }
            }
        })

    });

    $(".img").click(function(){
        let uri = this.getAttribute("src");
        console.log(uri)
        let end = uri.indexOf('?', 0);
        console.log(end)
        if (end === -1) {
            uri = uri + '?'+ Math.random();
        } else {
            uri = uri.substring(0, end) + '?'+ Math.random();
        }
        console.log(uri)
        this.setAttribute('src', uri);
    });


    function submitFormByAjax(url, formId, errorNameId, errorCodeId, imgId, refresh) {
        return function () {
            console.log(JSON.stringify($(formId).serializeObject()))
            $.ajax({
                // 如果用的是模板，则 url 可以使用注入的方式，会跟着配置动态改变
                url: url,
                data: JSON.stringify($(formId).serializeObject()),
                type: "POST",
                dataType: "json",
                contentType: 'application/json; charset=UTF-8',
                success: function (data) {
                    $(errorNameId).text("")
                    $(errorCodeId).text("")
                    console.log("==========注册成功============")
                    // 注册成功
                    // ...
                    console.log(data)
                    let uri = data.data
                    if (uri === null) {
                        uri = basePath
                    }
                    window.location.href = basePath + uri;
                },
                error: function (data) {
                    // 注册失败
                    $(errorNameId).text("")
                    $(errorCodeId).text("")
                    console.log("********注册失败*********")
                    console.log(data)
                    data = data.responseJSON
                    if (undefined !== data) {
                        console.log(data);
                        // 错误代码看ErrorCodeEnum
                        if (data.code >= 900 && data.code < 1000) {
                            $(errorNameId).text(data.msg)
                        } else if (data.code >= 600 && data.code < 700) {
                            $(errorCodeId).text(data.msg)
                        }
                    }
                    if (refresh) {
                        $(imgId).trigger("click");
                    }
                }
            })
            return
        };
    }


    $("#btn-mobile").click(
        submitFormByAjax($("#mobile-form").attr("action"), "#mobile-form", "#error-name-mobile", "#error-code-mobile", ".img-mobile", true)
    )


    $("#btn-reg").click(
        submitFormByAjax($("#reg-form").attr("action"), "#reg-form", "#error-name", "#error-code", ".img", true)
    )

    $("#btn-reg-sli").click(
        submitFormByAjax($("#sli-form").attr("action"), "#sli-form", "#error-name-sli", "#error-code-sli", ".img-sli", false)
    )


    // ===================== 滑块验证码 ========================

    var tokenId = "";
    var y = "";
    var x = "";
    $(".comImageValidate").ready(function () {
        let uri = $("#slider-refresh").attr("data-uri");
        validateImageInit(uri);
        $(".refresh").click(function () {
            let uri = $(this).attr("data-uri");
            $(".imgBtn img").css('opacity', 0);
            validateImageInit(uri);
        })
        $(".hkinnerWrap").mouseover(function(){
            $(".imgBg").stop(false).animate({"height":"213px"},100,function () {
                $(".imgBtn").css("display","block");
                $(".refresh").css("display","block");
            });
        }).mouseleave(function () {
            $(".imgBg").stop(false).animate({"height":"0"},100,function () {
                $(".imgBtn").css("display","none");
                $(".refresh").css("display","none");
            });
        });
        $(".imgBg").mouseover(function () {
            $(".imgBg").stop(false).animate({"height":"213px"},100,function () {
                $(".imgBtn").css("display","block");
                $(".refresh").css("display","block");
            });
        }).mouseleave(function () {
            $(".imgBg").stop(false).animate({"height":"0"},100,function () {
                $(".imgBtn").css("display","none");
                $(".refresh").css("display","none");
            });
        })
        $('.v_rightBtn').on({
            mousedown: function(e) {
                $(".huakuai").html("");
                $(".hkinnerWrap").removeClass("red green")
                $(".imgBtn img").css("opacity", 1)
                var el = $(this);
                var os = el.offset();
                dx = e.pageX - os.left;
                //$(document)
                $(this).parents(".hkinnerWrap").off('mousemove');
                $(this).parents(".hkinnerWrap").on('mousemove', function(e) {
                    var newLeft=e.pageX - dx;
                    el.offset({
                        left: newLeft
                    });
                    var newL=parseInt($(".v_rightBtn").css("left"));
                    if(newL<=0){
                        newL=0;
                    }else if (newL>=298){
                        newL=306;
                    }
                    $(".v_rightBtn").css("left",newL+"px");
                    $(".imgBtn").offset({
                        left: newLeft
                    });
                    $(".imgBtn").css("left",newL+"px")
                }).on('mouseup', function(e) {
                    //$(document)
                    $(this).off('mousemove');
                })
            }
        }).on("mouseup",function () {
            $(this).parents(".hkinnerWrap").off('mousemove');
            var l=$(this).css("left");
            if(l.indexOf("px")!=-1){
                l=l.substring(0,l.length-2);
            }
            x = l;
            let uri = $(this).attr("data-uri");
            submitDate(l,y,tokenId, uri)
        })

    });
    /*图形验证*/
    function submitDate(x, y, tokenId, uri) {
        $.ajax({
            url:uri + "?x="+x+"&y="+y+"&sliderToken="+tokenId,
            dataType:'json',
            type: "POST",
            success:function (data) {
                if(data.code === 200){
                    console.log(data);
                    $(".hkinnerWrap").addClass("green").removeClass("red");
                    $("#sli-form input[name='sliderCode']").val(data.data);
                }
                else if (data.code >= 606 || data.code < 700) {
                    console.log("不刷新, 用户重新操作: " + data);
                    $(".hkinnerWrap").addClass("red").removeClass("green");
                    $(".v_rightBtn").css("left", 0);
                    $(".imgBtn").css("left", 0);
                } else {
                    console.log("重新刷新: " + data);
                    $(".hkinnerWrap").addClass("red").removeClass("green");
                    $(".v_rightBtn").css("left", 0);
                    $(".imgBtn").css("left", 0);
                    let uri = $("#slider-refresh").attr("data-uri");
                    validateImageInit(uri);
                    // setTimeout(function(){
                    //     $(".hkinnerWrap").removeClass("red green");
                    //     $(".v_rightBtn").css("left",0);
                    //     $(".imgBtn").css("left",0);
                    // },500)
                    //validateImageInit();
                }
            }
        })
    }

    /*初始化图形验证码*/
    function validateImageInit(uri) {
        $.ajax({
            url:uri,
            dataType:'json',
            cache:false,
            type: "get",
            success:function (data) {
                console.log(data);
                $(".huakuai").html("向右滑动滑块填充拼图");
                $(".imgBg").css("background",'#fff url("data:image/jpg;base64,'+data.sourceImage+'")');
                $(".imgBtn").css('top',data.locationY+'px');
                $(".imgBtn").find("img").attr("src","data:image/png;base64,"+data.markImage);
                tokenId=data.token;
                y=data.locationY;
                $(".hkinnerWrap").removeClass("red green");
                $(".v_rightBtn").css("left",0);
                $(".imgBtn").css("left",0);
                $(".hkinnerWrap input[name='sliderToken']").val(tokenId);

                // 注意: 这里可以直接提交表单的动作, 为了演示这里需要用户点击提交表单的按钮

            },error:function(err){
                console.log(err)
            }
        })
    }
    /**
     * 再次进行用户拖动行为验证
     * @returns {boolean}
     */
    function reValidateDeal(uri){
        var result = false;
        $.ajax({
            url: uri + "?x="+x+"&y="+y+"&sliderToken="+tokenId,
            dataType:'json',
            cache : false,
            async : false,
            type: "POST",
            success:function (data) {
                if(data==true){
                    result = true;
                }else {
                    result = false;
                }
            }
        })
        return result;
    }

</script>
</html>