<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sign in</title>
</head>
<body>
    <h2>Demo绑定页, 请替换本页，请配置 security.social.bandingUrl 属性来设置自己的绑定页面</h2>
    <h3>社交登录绑定</h3>
    <!-- 通过 th:action 的方式支持 csrf 或者 添加隐藏域<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
    <form th:action="@{connect/gitee}" method="post">
        <button type="submit" value="">码云绑定</button>
    </form>
    <form th:action="@{connect/qq}" method="post">
        <button type="submit" value="">QQ 绑 定</button>
    </form>
    <form th:action="@{connect/weixin}" method="post">
        <button type="submit" value="">微信绑定</button>
    </form>
    <h3>社交登录解绑</h3>
    <form th:action="@{connect/gitee}" method="post">
        <input type="hidden" name="method" value="DELETE">
        <button type="submit" value="">码云解绑</button>
    </form>
    <form th:action="@{connect/qq}" method="post">
        <input type="hidden" name="method" value="DELETE">
        <button type="submit" value="">QQ 解 绑</button>
    </form>
    <form th:action="@{connect/weixin}" method="post">
        <input type="hidden" name="method" value="DELETE">
        <button type="submit" value="">微信解绑</button>
    </form>
</body>
</html>